@inherits LayoutComponentBase
<div class="content">
    <main>
        @Body
    </main>
    <footer class="footerStyle">
        <div class="row p-3 m-0 align-items-center text-center ">            
            <div class="col">
                <img src="img/CF_Logo_BO.png" height="50" alt="Coder Foundry Logo" />
                <div>Built By Coder Foundry &copy; 2024</div>
            </div>
        </div>
    </footer>
</div>
